* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: #9DBF9E;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock {
  color: #CE7DA5;
  font-size: 15vw;
  font-family: sans-serif;
  line-height: 15vw;
  display: flex;
  position: relative;
  background: #F5E0E5;
  border-radius: 3vw;
  padding: 2vw;
}
.clock *{
  display: flexbox;
}
